# Created by .ignore support plugin (hsz.mobi)
.idea/
.ideaDataSources/

/ch02/.project


/ch03/.project

/ch04/.project



/ch05/.project


/ch06/.project



/ch07/.project



/ch08/.project


/ch09/.project


!/ch10/.project



/ch11/.project



/ch12/.project


/ch13/.project

ch02/build/
ch03/build/
out/
build/
ch04/build/
/ch04/ch04.iml
