# Created by .ignore support plugin (hsz.mobi)
.idea/
.ideaDataSources/
/ch02/.classpath
/ch02/.project
/ch02/ch02.iml

/ch03/ch03.iml
/ch03/.project
/ch03/.classpath

/ch04/.project
/ch04/ch04.iml
/ch04/.classpath

/ch05/ch05.iml
/ch05/.project
/ch05/.classpath

/ch06/.project
/ch06/ch06.iml
/ch06/.classpath

/ch07/ch07.iml
/ch07/.project
/ch07/.classpath

/ch08/.classpath
/ch08/ch08.iml
/ch08/.project

/ch09/.classpath
/ch09/ch09.iml
/ch09/.project

!/ch10/.classpath
!/ch10/.project
!/ch10/ch10.iml

/ch11/.classpath
/ch11/.project
/ch11/ch11.iml

/ch12/.classpath
/ch12/ch12.iml
/ch12/.project

/ch13/.classpath
/ch13/.project
/ch13/ch13.iml
ch02/build/
ch03/build/
out/
